.footer{
    padding: 50px 0 32px;
    background:#05141F;
    .footer_content{
        padding-bottom: 50px;
        .footer_item{
            &:nth-child(1){
              .item_links{
                margin-top: 25px;
              }  
            }
            .item_title{
                color: #fff;
            }
            .item_links{
                gap: 15px 0;
                margin-top: 15px;

                a{
                    color: #ffffff;
                }
            }
        }
    }
    .footer_bottom{
        padding: 32px 0 0 ;
        border-top:1px solid rgba(255, 255, 255, 0.30);
        .bottom_item,a{
            color: rgba(255, 255, 255, 0.60);
        }
        .bottom_item:last-child{
            gap: 0 10px;
            .icon_bottom{
                line-height: 0;
            }
        }
    }
}