@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  background: none;
  width: 100%;
  z-index: 787898987;
  transition: 0.2s all linear;
  background: rgba(0, 0, 0, 0);
}
@media (max-width:768px) {
  .header {
    padding: 5px 0;
  }
}
@media (max-width:768px) {
  .header .container {
    flex-direction: row-reverse;
  }
}
.header.light {
  background: #FFF;
}
.header.light .header_left a {
  color: #223A67;
}
.header.light .header_right a,
.header.light .header_right select {
  color: #223A67;
}
.header .header_left {
  gap: 0 50px;
  align-items: center;
  flex: 0 0 auto;
  width: 33.33%;
}
@media (max-width:1400px) {
  .header .header_left {
    gap: 0 15px;
  }
  .header .header_left .desctop {
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .header .header_left {
    gap: 0 10px;
    width: fit-content;
  }
}
.header .header_left a {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px;
  transition: 0.2s linear;
}
.header .header_left .burger_icon {
  line-height: 0;
  cursor: pointer;
}
@media (max-width:768px) {
  .header .header_left .burger_icon .mobile1 {
    display: block;
  }
}
.header .header_left .burger_icon .mobile2 {
  display: none;
}
@media (max-width:768px) {
  .header .header_left .burger_icon.active .mobile2 {
    display: block;
  }
  .header .header_left .burger_icon.active .mobile1 {
    display: none;
  }
}
.header .header_left .burger_icon svg {
  transition: all 0.2s linear;
  line-height: 0;
}
.header .header_left .burger_icon svg path {
  fill: white;
  stroke: white;
}
.header .header_left .burger_icon.light svg path {
  stroke: #223A67;
  fill: #223A67;
}
.header .header_left .exit_menu {
  cursor: pointer;
}
@media (max-width:768px) {
  .header .header_left .exit_menu {
    display: none;
  }
}
.header .logo {
  flex: 0 0 auto;
  width: 32%;
}
@media (max-width:1400px) {
  .header .logo {
    width: fit-content;
  }
}
@media (max-width: 1200px) {
  .header .logo img {
    width: 152px;
  }
}
.header .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_right {
  gap: 0 45px;
  flex: 0 0 auto;
  width: 33.33%;
  justify-content: flex-end;
}
@media (max-width:1400px) {
  .header .header_right {
    gap: 0 15px;
  }
}
@media (max-width: 1200px) {
  .header .header_right {
    width: fit-content;
  }
}
.header .header_right a {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.2px;
  transition: 0.2s linear;
}
@media (max-width: 1200px) {
  .header .header_right a {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .header .header_right a {
    font-size: 18px;
  }
}
.header .header_right .form_lang {
  gap: 0 5px;
}
@media (max-width: 1200px) {
  .header .header_right .form_lang {
    display: none;
  }
}
.header .header_right .form_lang span {
  line-height: 0;
}
.header .header_right select {
  outline: none;
  border: none;
  color: #FFF;
  line-height: 28.8px;
  background: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  -webkit-appearance: none;
  transition: 0.2s linear;
}
.header .header_right .icons_select svg path {
  stroke: white;
  transition: all 0.2s linear;
}
.header .header_right .icons_select.light svg path {
  stroke: #223A67;
}
.header .header_right .icons_select.light_select svg path {
  stroke: #223A67;
}
.header .header_right .mobile {
  line-height: 0;
}
.header .header_right .mobile svg path {
  fill: white;
  stroke: white;
  transition: all 0.2s linear;
}
.header .header_right .mobile.light svg path {
  fill: #223A67;
  stroke: #223A67;
}
.header .menu_overlay {
  background: rgba(0, 0, 0, 0.337254902);
  width: 100%;
  position: fixed;
  z-index: 222;
  top: 0;
  left: -100%;
  height: 100vh;
  transition: all 0.14s linear;
}
@media (max-width:768px) {
  .header .menu_overlay {
    top: 60px;
  }
}
.header .menu_overlay.active {
  left: 0;
}
.header .nav_menu {
  width: 100%;
  max-width: 500px;
  background: #FFF;
  padding: 29px 75px;
  overflow-y: auto;
  height: 100%;
}
.header .nav_menu::-webkit-scrollbar {
  display: none;
}
@media (max-width:768px) {
  .header .nav_menu {
    height: calc(100% - 60px);
    padding-top: 10px;
  }
}
@media (max-width:768px) {
  .header .nav_menu {
    max-width: 100%;
  }
}
.header .nav_menu .menu_content {
  height: calc(100% - 60px);
}
@media (max-width:768px) {
  .header .nav_menu .menu_content {
    height: 100%;
  }
}
@media (max-width:768px) {
  .header .nav_menu .menu_content {
    align-items: center;
  }
}
.header .nav_menu .menu_content .menu_lists {
  gap: 25px;
}
@media (max-width:768px) {
  .header .nav_menu .menu_content .menu_lists {
    margin-top: 0;
    width: fit-content;
    align-items: center;
  }
}
.header .nav_menu .menu_content .menu_lists a {
  color: #223A67;
}
.header .nav_menu .menu_content .menu_lists .drop_icon {
  cursor: pointer;
  transition: all 0.3s linear;
  line-height: 0;
}
.header .nav_menu .menu_content .menu_lists .drop_icon.rotate {
  transform: rotate(180deg);
}
.header .nav_menu .menu_content .menu_child {
  margin-top: 25px;
  gap: 25px;
  padding-left: 25px;
  display: flex;
}
@media (max-width:768px) {
  .header .nav_menu .menu_content .menu_child {
    justify-content: center;
    padding-left: 0;
    gap: 15px 0;
  }
  .header .nav_menu .menu_content .menu_child li {
    text-align: center !important;
  }
}
.header .nav_menu .menu_content .menu_child a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width:768px) {
  .header .nav_menu .menu_content .menu_child a {
    text-align: center;
  }
}
.header .nav_menu .menu_content .child_link_content {
  display: none;
}

.select_lang {
  margin-top: 25px;
}
@media (max-width:768px) {
  .select_lang {
    margin-top: 10px;
  }
  .select_lang .text_bluedark.text_24_6 {
    color: #223A67 !important;
  }
}
.select_lang form {
  gap: 0 15px;
}
.select_lang label {
  position: relative;
}
.select_lang label span {
  opacity: 0.7;
  cursor: pointer;
}
.select_lang input[type=radio] {
  position: absolute;
  opacity: 0;
}
.select_lang input[type=radio]:checked ~ span {
  opacity: 1;
}

.hero {
  padding-bottom: 78px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 0;
}
@media (max-width:768px) {
  .hero .container.btns {
    position: relative;
  }
}
.hero .container.btns .btn_slide {
  width: 50px;
  height: 50px;
  flex: 0 0 auto;
}
.hero .hero_content {
  width: 100%;
  height: 100vh;
}
.hero .hero_content .hero_bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(96deg, rgba(0, 0, 0, 0.5) 6.81%, rgba(0, 0, 0, 0.4) 98.24%) no-repeat;
}
@media (max-width:768px) {
  .hero .hero_content .hero_bg {
    background: linear-gradient(166deg, rgba(0, 0, 0, 0) 6.81%, rgb(0, 0, 0) 98.24%) no-repeat;
  }
}
.hero .hero_content .hero_bg .container {
  height: 100%;
  position: relative;
}
.hero .hero_content .hero_bg .container .hero_info {
  position: absolute;
  bottom: 86px;
  left: 25px;
  gap: 30px 0;
  width: 80%;
}
@media (max-width:1400px) {
  .hero .hero_content .hero_bg .container .hero_info {
    width: 100%;
    gap: 20px 0;
  }
}
@media (max-width:768px) {
  .hero .hero_content .hero_bg .container .hero_info {
    gap: 10px 0;
    bottom: 158px;
  }
}
@media (max-width:768px) {
  .hero .hero_content .hero_bg .container .hero_info .button {
    margin-top: 39px;
  }
}
.hero .hero_content .hero_bg .container .hero_info .hero_title {
  color: #FFF;
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 84px;
}
@media (max-width:1400px) {
  .hero .hero_content .hero_bg .container .hero_info .hero_title {
    line-height: 70px;
    font-size: 55px;
  }
}
@media (max-width:768px) {
  .hero .hero_content .hero_bg .container .hero_info .hero_title {
    line-height: 33.6px;
    font-size: 32px;
  }
}
.hero .hero_content .hero_bg .container .hero_info .hero_title_sm {
  color: #FFF;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 49.4px;
  align-items: flex-start;
}
.hero .hero_content .hero_bg .container .hero_info .title_number {
  margin-left: 20px;
  background: #fff;
  font-size: 24px;
  color: #223A67;
  line-height: normal;
}
.hero .hero_content .hero_bg .container .hero_info .hero_action {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.2px;
}
@media (max-width:768px) {
  .hero .hero_content .hero_bg .container .hero_info .hero_action {
    font-size: 18px;
    line-height: 23.4px;
  }
}
@media (max-width:768px) {
  .hero .btn_container {
    top: auto;
    bottom: 68px;
    width: fit-content;
    left: 0;
    right: auto;
    gap: 0 10px;
  }
}

.swiper-pagination {
  padding: 0px 17px 32px 17px;
}
.swiper-pagination.top {
  bottom: -20px;
  z-index: 22;
}
.swiper-pagination.bottom {
  position: absolute;
  bottom: 19px;
  left: 0;
  right: 0;
  margin: 0 auto;
  gap: 5px;
}
@media (max-width:768px) {
  .swiper-pagination.bottom {
    left: 0px;
    right: auto;
    bottom: -5px;
  }
}
.swiper-pagination.bottom .swiper-pagination-bullet {
  height: 4px;
  border: none;
  outline: none;
  width: 18px;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  flex: 0 0 auto;
  padding: 0;
}
@media (max-width:768px) {
  .swiper-pagination.bottom .swiper-pagination-bullet {
    width: 8px;
  }
}
.swiper-pagination.bottom .swiper-pagination-bullet-active {
  width: 36px;
  height: 4px;
  background: #fff;
}
@media (max-width:768px) {
  .swiper-pagination.bottom .swiper-pagination-bullet-active {
    width: 20px;
  }
}

.swiper-pagination-bullet {
  cursor: pointer;
  display: flex;
  width: 8px;
  height: 8px;
  outline: 1px solid rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
  margin: 0;
}

.swiper-pagination-bullet-active {
  outline: 1px solid #fff;
  border: 4px solid #6d6c6c;
  padding: 4px;
  background: rgb(255, 255, 255);
}

.choose_type {
  padding-top: 100px;
}
@media (max-width:768px) {
  .choose_type {
    padding-top: 50px;
  }
}
.choose_type .types {
  padding-top: 50px;
}
@media (max-width:1400px) {
  .choose_type .types {
    flex-wrap: wrap;
    gap: 25px 0;
  }
}
@media (max-width:768px) {
  .choose_type .types {
    gap: 5px 0;
    padding-top: 20px;
  }
}
.choose_type .type {
  padding: 25px;
  border: 1px solid #E1E8F2;
  gap: 15px 0;
  transition: all 0.2s linear;
}
@media (max-width:1400px) {
  .choose_type .type {
    padding: 12px;
    flex: 0 0 auto;
  }
}
@media (max-width:768px) {
  .choose_type .type {
    width: 100%;
    flex-direction: row !important;
    gap: 5px 10px;
    padding: 10px;
    align-items: center;
  }
}
.choose_type .type .type_img {
  width: 100%;
  line-height: 0;
}
@media (max-width:768px) {
  .choose_type .type .type_img {
    width: 80px;
    flex: 0 0 auto;
  }
}
.choose_type .type .type_img img {
  width: 100%;
  object-fit: contain;
  height: 213px;
}
@media (max-width:1400px) {
  .choose_type .type .type_img img {
    height: auto;
  }
}
@media (max-width:768px) {
  .choose_type .type .type_img img {
    width: 80px;
    height: 60px;
  }
}
.choose_type .type .type_title {
  color: #223A67;
}
@media (max-width:1400px) {
  .choose_type .type .type_title {
    font-size: 16px;
  }
}
@media (max-width:768px) {
  .choose_type .type .type_title {
    font-size: 15px;
  }
}
.choose_type .type:hover {
  background: #223A67;
}
.choose_type .type:hover .type_title {
  color: #fff;
}

.our_objects {
  padding: 100px 0;
}
@media (max-width:768px) {
  .our_objects {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.our_objects .top_content {
  gap: 48px;
}
@media (max-width:768px) {
  .our_objects .top_content {
    gap: 25px 0;
  }
}
.our_objects .top_content .button.light {
  transition: all 0.3s linear;
}
.our_objects .top_content .button.light:hover {
  background: #223A67;
  color: #fff;
}
.our_objects .top_content .button.light:hover .text_18_6 {
  color: #fff;
}
.our_objects .top_content .button.light:hover svg path {
  stroke: white;
}
@media (max-width:768px) {
  .our_objects .top_content .button.light {
    padding: 15px 40px;
  }
}
@media (max-width:768px) {
  .our_objects .top_content .button.light .text_18_6 {
    line-height: normal;
    font-size: 15px;
  }
}

.objects {
  padding-top: 50px;
  gap: 22px 0;
}
@media (max-width:768px) {
  .objects {
    padding-top: 20px;
  }
}
.objects .object {
  border: 1px solid #E1E8F2;
  padding: 25px;
  width: calc(50% - 12.5px);
  background: #fff;
  transition: all 0.2s linear;
}
.objects .object .button {
  border: 1px solid transparent;
}
.objects .object:hover {
  background: #E1E8F2;
}
.objects .object:hover .button {
  border-color: #223A67;
}
@media (max-width: 1490px) {
  .objects .object {
    padding: 20px;
  }
}
@media (max-width:768px) {
  .objects .object {
    flex-direction: column;
    gap: 15px 0;
  }
}
.objects .object .object_left {
  width: calc(50% - 15px);
}
@media (max-width:768px) {
  .objects .object .object_left {
    width: 100%;
  }
}
@media (max-width: 1490px) {
  .objects .object .object_left .object_btn {
    padding: 5px;
    font-size: 12px;
    width: 100%;
  }
  .objects .object .object_left .object_btn .button {
    width: 100%;
    padding: 10px;
  }
}
@media (max-width:768px) {
  .objects .object .object_left .object_btn {
    margin-top: 15px;
  }
  .objects .object .object_left .object_btn a {
    padding: 15px 40px;
  }
  .objects .object .object_left .object_btn span {
    line-height: 25px;
  }
  .objects .object .object_left .object_btn img {
    height: 20px;
  }
}
.objects .object .object_title {
  color: #223A67;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45.6px;
}
@media (max-width: 1490px) {
  .objects .object .object_title {
    font-size: 25px;
  }
}
@media (max-width:768px) {
  .objects .object .object_title {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.6px;
  }
}
.objects .object .object_img {
  height: 100%;
  line-height: 0;
}
@media (max-width: 1490px) {
  .objects .object .object_img {
    width: calc(50% - 15px);
  }
}
@media (max-width:768px) {
  .objects .object .object_img {
    width: 100%;
    height: 150px;
  }
}
.objects .object .object_img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.pagination_loc {
  margin-top: 8px;
}
.pagination_loc .swiper-pagination-bullet {
  width: 8px;
  height: 3px;
  background: #E1E8F2;
  border-radius: 1px;
  padding: 0;
}
.pagination_loc .swiper-pagination-bullet-active {
  width: 20px;
  height: 3px;
  background: #223A67;
  border-radius: 1px;
  border: 0;
  padding: 0;
}

.contact {
  padding-top: 100px;
  padding-bottom: 95px;
  border-top: 1px solid #E1E8F2;
  border-bottom: 1px solid #E1E8F2;
  background: #FFF;
}
@media (max-width:768px) {
  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.contact .contact_top {
  gap: 7px 0;
}
@media (max-width:768px) {
  .contact .contact_top .contact_action {
    font-size: 15px;
    color: #7C8BA7 !important;
  }
}
@media (max-width:768px) {
  .contact .contact_top .section_title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.2px;
  }
}
.contact .forms_content {
  width: 100%;
  max-width: 400px;
  gap: 15px 0;
}
.contact .forms {
  width: 100%;
  max-width: 400px;
  gap: 26px 0;
  margin-top: 60px;
}
@media (max-width:768px) {
  .contact .forms {
    margin-top: 35px;
    gap: 17px 0;
  }
}
.contact .forms .form_item {
  width: 100%;
  position: relative;
}
.contact .forms .form_item .placeholder {
  display: block;
  text-align: center;
  color: #7C8BA7;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 4px auto;
}
@media (max-width:768px) {
  .contact .forms .form_item .placeholder {
    font-size: 14px;
  }
}
.contact .forms .form_item .placeholder span {
  color: #F8511C;
}
.contact .forms .form_item input {
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  background: #FFF;
  padding: 15.5px;
  border-bottom: 2px solid #E1E8F2;
}
.contact .forms .form_item input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
}
.contact .forms .form_item p {
  color: #7C8BA7;
}
@media (max-width:768px) {
  .contact .forms .form_item p {
    width: 100%;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.8px;
  }
}
.contact .forms .form_item p a {
  color: inherit;
  text-decoration: underline;
}
.contact .forms .button.light {
  width: 100% !important;
  text-align: center;
  margin-top: -10px;
}
@media (max-width:768px) {
  .contact .forms .button.light {
    font-size: 14px;
    line-height: 23.8px;
    margin-top: -7px;
  }
}
.contact .forms button {
  text-align: center;
  width: 100%;
  padding: 20px 40px;
  margin-top: -5px;
}
@media (max-width:768px) {
  .contact .forms button {
    font-size: 15px;
    margin-top: -7px;
    font-weight: 500;
    width: fit-content;
    margin: 0 auto;
  }
}

.contact_card {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width:768px) {
  .contact_card {
    padding-top: 50px;
    padding-bottom: 55px;
  }
}
@media (max-width: 1600px) {
  .contact_card .contact_right {
    width: 60%;
  }
}
@media (max-width:768px) {
  .contact_card .contact_right {
    width: 100%;
    margin-top: 25px;
  }
}
@media (max-width: 1600px) {
  .contact_card .contact_right .carta {
    width: 100%;
  }
  .contact_card .contact_right .carta iframe {
    width: 100%;
  }
}
.contact_card .buttons_contact {
  padding-left: 35px;
  gap: 8px;
}
@media (max-width:768px) {
  .contact_card .buttons_contact {
    margin-top: 7px;
    width: 100%;
    padding: 13px;
  }
}
@media (max-width:768px) {
  .contact_card {
    padding-top: 50px;
  }
}

.contact_component {
  margin-top: 50px;
}
@media (max-width:768px) {
  .contact_component {
    flex-direction: column;
    margin-top: 20px;
  }
}

.contact_items {
  gap: 25px 2px;
}
@media (max-width:768px) {
  .contact_items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px 0;
  }
}
.contact_items .contact_item {
  gap: 5px 0;
  width: 50%;
  flex: 0 0 auto;
}
.contact_items .contact_item:nth-child(1) {
  width: 49%;
}
@media (max-width:768px) {
  .contact_items .contact_item:nth-child(1) {
    width: 100%;
  }
}
@media (max-width:1400px) {
  .contact_items .contact_item {
    gap: 0;
  }
}
@media (max-width: 1600px) {
  .contact_items .contact_item .text_24_6 {
    font-size: 18px;
  }
}
@media (max-width:1400px) {
  .contact_items .contact_item .text_24_6 {
    line-height: 24px;
    font-size: 15px;
  }
}
@media (max-width: 1600px) {
  .contact_items .contact_item .text_18_6 {
    font-size: 15px;
  }
  .contact_items .contact_item .text_18_6 br {
    display: none;
  }
}
@media (max-width:768px) {
  .contact_items .contact_item .text_18_6 {
    text-align: center;
  }
}
@media (max-width: 1600px) {
  .contact_items .contact_item .contact_action {
    font-size: 14px;
  }
}
@media (max-width:768px) {
  .contact_items .contact_item .contact_action {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
  }
}
@media (max-width:768px) {
  .contact_items .contact_item {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2px 0;
  }
}

.features {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width:768px) {
  .features {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.features .features_lists {
  margin-top: 50px;
  gap: 0;
}
@media (max-width:768px) {
  .features .features_lists {
    margin-top: 25px;
  }
}
.features .features_lists_top {
  gap: 25px 0;
  flex-wrap: wrap;
}
@media (max-width:768px) {
  .features .features_lists_top {
    gap: 10px 0;
    flex-direction: column;
  }
}
.features .features_lists_top .features_item {
  display: flex;
}
@media (max-width:768px) {
  .features .features_lists_top .features_item.show {
    display: none;
  }
}
@media (max-width:768px) {
  .features .features_lists_top .features_item:nth-child(3) {
    order: -3;
  }
  .features .features_lists_top .features_item:nth-child(4) {
    order: -2;
  }
  .features .features_lists_top .features_item:nth-child(7) {
    order: -1;
  }
  .features .features_lists_top .features_item:nth-child(10) {
    order: -1;
  }
  .features .features_lists_top .features_item:nth-child(2) {
    order: 2;
  }
}
@media (max-width:768px) {
  .features .features_lists_top .features_item {
    padding: 20px;
  }
}
.features .features_lists_top .features_item_title {
  line-height: 30px;
  margin-top: 5px;
}
@media (max-width:768px) {
  .features .features_lists_top .features_item_title {
    font-size: 15px;
    line-height: 24px;
    margin-top: 0;
  }
}
.features .features_lists_bottom {
  margin-top: 25px;
}
@media (max-width:1400px) {
  .features .features_lists_bottom {
    gap: 25px 0;
    flex-wrap: wrap;
  }
}
@media (max-width:768px) {
  .features .features_lists_bottom {
    gap: 10px 0;
    margin-top: 10px;
  }
}
.features .all_content {
  display: none;
  position: relative;
  top: -20px;
}
.features .all_content::after {
  content: "";
  position: absolute;
  top: -62px;
  height: 82px;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #FAFAFA 100%);
  width: 100%;
}
@media (max-width:768px) {
  .features .all_content {
    display: flex;
    gap: 0 5px;
  }
  .features .all_content span {
    border-bottom: 1px dashed #223A67;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    z-index: 2;
  }
  .features .all_content img {
    position: relative;
    z-index: 2;
  }
}
.features .features_item {
  width: calc(16.66% - 7.5px);
  padding: 30px 30px 35px;
  border-right: 1px solid #E1E8F2;
  border-bottom: 1px solid #E1E8F2;
  border-left: 1px solid #E1E8F2;
  border-top: 1px solid #223A67;
  background: #FFF;
}
@media (max-width:1400px) {
  .features .features_item {
    width: calc(33.33% - 7.5px);
  }
}
@media (max-width:768px) {
  .features .features_item {
    width: 100%;
    padding: 20px;
  }
}
.features .features_item .features_icon {
  line-height: 0;
}
.features .features_item .features_icon img {
  height: 25px;
}
.features .features_item .features_item_title {
  line-height: 28.8px;
  margin-top: 9px;
}

.comment .slide_content {
  margin-top: 50px;
}
@media (max-width:768px) {
  .comment .slide_content {
    margin-top: 25px;
  }
}
.comment .slide_content .slide_item {
  border: 1px solid #E1E8F2;
  background: #FFF;
  padding: 35px;
  min-height: 490px;
}
@media (max-width:768px) {
  .comment .slide_content .slide_item {
    min-height: 460px;
    padding: 20px 20px;
  }
}
.comment .slide_content .slide_item .slide_icon {
  line-height: 0;
}
.comment .slide_content .slide_item .slide_icon img {
  height: 20px;
}
.comment .slide_content .slide_item .slide_description {
  margin-top: 20px;
  line-height: 28.8px;
}
@media (max-width:768px) {
  .comment .slide_content .slide_item .slide_description {
    font-size: 13px;
    font-weight: 400;
    line-height: 23.8px;
  }
}
.comment .slide_content .slide_item .slide_bottom {
  gap: 0 20px;
}
@media (max-width:768px) {
  .comment .slide_content .slide_item .slide_bottom {
    gap: 10px 0;
    flex-direction: column;
  }
}
.comment .slide_content .slide_item .logo_company {
  line-height: 0;
}
.comment .slide_content .slide_item .info_company {
  color: #7C8BA7;
  font-size: 14px;
  line-height: 21px;
}
@media (max-width:768px) {
  .comment .slide_content .slide_item .info_company {
    font-size: 12px;
    line-height: 18px;
  }
}
.comment .commentSlide {
  position: relative;
}
.comment .slide_btn_group {
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto 0;
}

.pagination {
  margin-top: 25px;
}
@media (max-width:768px) {
  .pagination {
    margin-top: 10px;
  }
}
.pagination .swiper-pagination-bullet {
  border-radius: 2px;
  background: #E1E8F2;
  width: 18px;
  height: 4px;
}
@media (max-width:768px) {
  .pagination .swiper-pagination-bullet {
    width: 15px;
  }
}
.pagination .swiper-pagination-bullet-active {
  border-radius: 2px;
  background: var(--unnamed, #223A67);
  width: 36px;
  height: 4px;
  padding: 0;
  border: 0;
}

.modal {
  width: 100%;
  height: 100vh;
  background: #FAFAFA;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1123231111;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal .exit_modal {
  cursor: pointer;
  gap: 10px;
}
.modal#carta {
  padding: 25px;
}
.modal#carta .modal_carta {
  padding: 5px 0 15px;
}
.modal#carta .carta {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.modal#carta .carta img {
  width: 100%;
  object-fit: cover;
}
.modal a {
  color: #223A67;
}
.modal .thanks_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 25px 0;
}
@media (max-width:768px) {
  .modal .thanks_content .section_title {
    font-size: 24px;
  }
}
.modal .modal_header {
  gap: 20px 0;
}
.modal .modal_title_filter_sm {
  font-size: 22px;
}
.modal .modal_title_filter_md {
  font-size: 24px;
}
.modal .modal_body {
  margin-top: 50px;
}
.modal .button_lists {
  gap: 15px 10px;
}
.modal .modal_container {
  max-width: 811px;
  margin: 0 0 auto;
}

.button_change {
  display: flex;
  position: relative;
}
.button_change input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.button_change span {
  flex: 0 0 auto;
  background: none;
  border: 1px solid #E1E8F2;
  padding: 15px 15px;
  cursor: pointer;
}
@media (max-width:768px) {
  .button_change span {
    padding: 10px;
    font-size: 15px;
  }
}
.button_change span:hover {
  background: #223A67;
  color: white;
}
.button_change input[type=radio]:checked ~ span {
  background: #223A67;
  color: white;
}

.footer {
  padding: 50px 0 32px;
  background: #05141F;
}
.footer .footer_content {
  padding-bottom: 50px;
}
@media (max-width:1400px) {
  .footer .footer_content {
    flex-wrap: wrap;
    gap: 35px 0;
  }
}
@media (max-width:768px) {
  .footer .footer_content {
    padding-bottom: 25px;
    gap: 25px 0;
  }
}
.footer .footer_content .footer_item {
  flex: 0 0 auto;
}
@media (max-width:768px) {
  .footer .footer_content .footer_item {
    justify-content: center;
    width: 100%;
  }
}
.footer .footer_content .footer_item:nth-child(2) {
  flex: 0 0 auto;
  width: 35%;
}
@media (max-width:1400px) {
  .footer .footer_content .footer_item:nth-child(2) {
    width: 40%;
  }
}
@media (max-width:768px) {
  .footer .footer_content .footer_item:nth-child(2) {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.footer .footer_content .footer_item:nth-child(1) {
  width: calc(21.5% - 10px);
}
@media (max-width:1400px) {
  .footer .footer_content .footer_item:nth-child(1) {
    width: calc(29% - 10px);
  }
}
@media (max-width:768px) {
  .footer .footer_content .footer_item:nth-child(1) {
    width: 100%;
  }
}
.footer .footer_content .footer_item:nth-child(1) .item_links {
  margin-top: 25px;
}
.footer .footer_content .footer_item:nth-child(3) {
  width: 20%;
}
@media (max-width:768px) {
  .footer .footer_content .footer_item:nth-child(3) {
    width: 100%;
  }
}
.footer .footer_content .footer_item:nth-child(3) .item_links {
  margin-top: 0;
}
.footer .footer_content .footer_item:nth-child(4) .item_links {
  margin-top: 0;
}
.footer .footer_content .footer_item .footer_phone {
  color: var(--FFFFFF, #FFF);
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.6px;
}
.footer .footer_content .footer_item .item_title {
  cursor: pointer;
  color: #fff;
}
.footer .footer_content .footer_item .item_title img {
  transform: rotate(0);
  transition: all 0.2s linear;
}
.footer .footer_content .footer_item .item_title img.active {
  transform: rotate(180deg);
}
@media (max-width:1400px) {
  .footer .footer_content .footer_item .item_title {
    font-size: 20px;
  }
}
@media (max-width:768px) {
  .footer .footer_content .footer_item .item_title {
    text-align: center;
  }
}
@media (max-width:768px) and (max-width:768px) {
  .footer .footer_content .footer_item .item_title {
    justify-content: center;
  }
}
@media (max-width:768px) {
  .footer .footer_content .footer_item .slide_to {
    display: none;
  }
}
.footer .footer_content .footer_item .item_links {
  gap: 15px 0;
  margin-top: 15px;
}
@media (max-width:768px) {
  .footer .footer_content .footer_item .item_links {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px 0;
  }
}
.footer .footer_content .footer_item .item_links a {
  color: #ffffff;
}
.footer .footer_bottom {
  padding: 32px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
@media (max-width:768px) {
  .footer .footer_bottom .container {
    gap: 10px 0;
    flex-direction: column;
  }
}
.footer .footer_bottom .bottom_item,
.footer .footer_bottom a {
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width:768px) {
  .footer .footer_bottom .bottom_item,
  .footer .footer_bottom a {
    font-size: 14px;
  }
}
.footer .footer_bottom .bottom_item:last-child {
  gap: 0 10px;
}
.footer .footer_bottom .bottom_item:last-child .icon_bottom {
  line-height: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  color: #243452;
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  background: #FAFAFA;
}

.container {
  margin: 0 auto;
  max-width: 1820px;
  padding: 0 25px;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 360px;
  }
}

.flex {
  display: flex;
}
.flex.center {
  justify-content: center;
}
.flex.between {
  justify-content: space-between;
}
.flex.column {
  flex-direction: column;
}
.flex.a_center {
  align-items: center;
}
.flex.wrap {
  flex-wrap: wrap;
}

.text_18_6 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  color: #223A67;
}

.text_24_6 {
  color: #223A67;
  line-height: 31.2px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.text_bluedark {
  color: #223A67;
}

.menu_overlay .text_bluedark {
  color: #223A67 !important;
}
@media (max-width:768px) {
  .menu_overlay .text_bluedark {
    color: #223A67 !important;
  }
}

.section_title {
  color: #223A67;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 49.4px;
}
@media (max-width:768px) {
  .section_title {
    font-size: 24px;
    line-height: 31.2px;
  }
}

.text_center {
  text-align: center;
}

.btn_container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.slide_btn_group .btn_slide {
  user-select: none;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 233;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.slide_btn_group .btn_slide.prev {
  transform: rotate(180deg);
}

.button {
  padding: 15.5px 40px;
  width: fit-content;
}
.button.sm_light {
  padding: 10px 15px;
  gap: 0 10px;
  align-items: center;
}
.button.sm_light span {
  color: #223A67;
}
.button.sm_light .button_icon {
  line-height: 0;
}
.button.orange {
  background: #F8511C;
  color: #fff;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.button.orange:hover {
  background: #EB440F;
}
.button.light {
  background: #E1E8F2;
}
.button.light .card_btn {
  gap: 0 10px;
  line-height: 0;
  color: #223A67;
}

.to_top {
  position: fixed;
  bottom: 100px;
  z-index: 2;
  right: 50px;
}
.to_top .container {
  padding-right: 0;
}
@media (max-width:768px) {
  .to_top {
    right: 0;
    bottom: 25px;
  }
}
.to_top a {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #00E709;
}

.mt_15 {
  margin-top: 25px;
}

.desctop {
  display: block;
}
@media (max-width:768px) {
  .desctop {
    display: none;
  }
}

.desctop_flex {
  display: flex;
}
@media (max-width:768px) {
  .desctop_flex {
    display: none;
  }
}

.mobile {
  display: none;
}
@media (max-width:768px) {
  .mobile {
    display: block;
  }
}

.mobile_color {
  color: #223A67 !important;
  margin-top: 15px;
}/*# sourceMappingURL=style.css.map */